body{ display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    background-image: url("/asserts/linka-eng-software.png"); 
    background-attachment: fixed; }

.quadrado {
    position: relative; /* necess치rio para posicionar elementos internos */
    display: flex;
    width: 560px;
    height: 410px;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 192, 169);
    border-radius: 15%;
}

/* imagem do 치udio no canto superior direito */
.quadrado img {
    position: absolute;
    top: 17px;    /* dist칙ncia do topo */
    right: 22px;  /* dist칙ncia da direita */
    width: 50px;
    margin: 0; /* remove margens antigas */
    cursor: pointer;
}

.circulo{
    position: absolute;
    top: 500px;
    right: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(235, 201, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo img {
    width:100px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 400px;
    height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.input2{
    margin-top: 30px;
}
.esqueceu{
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(67, 33, 9);  
}

.Enviar{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

@media (max-width:428px){
    .circulo{
    position: absolute;
    top: 780px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(235, 201, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}
 .circulo img    {
    width: 80px;
 }
}